<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  <body>

    <h3 style="text-align: center; font-size: 30px">Game Over</h3>
    <p class="img" style="text-align: center">
    <img src="https://cdn.drawception.com/images/panels/2012/4-6/a7xD8DGSgj-12.png" alt="penguin">
    </p>

  </body>
</html>
